@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'EliceDigitalBaeum_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_220508@1.0/EliceDigitalBaeum_Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

#app {
    font-family: 'EliceDigitalBaeum_Bold';
}

html::-webkit-scrollbar {
    width: 0px !important;
}

/*html::-webkit-scrollbar-thumb {*/
/*    background: rgba(26, 188, 156);*/
/*    border-radius: 10px;*/
/*}*/

/*html::-webkit-scrollbar-track {*/
/*    background: rgba(26, 188, 156, .3);*/
/*}*/